/* TODO: Add vertical alignment for images, or maybe make images a 
 * fixed height and widen the div that contains the image */

.container {
  background-color: #fff;
  box-shadow      : 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  border-radius   : 3px 3px 3px 3px;
  border          : 1px #000 solid;
}

.content-tab-container {
  border-radius   : 3px 3px 0px 0px;
  background-color: #1d3b59;
  height          : 40px;
}

#content {
  margin-bottom: 10px;
}

.content-tab {
  text-align     : center;
  text-decoration: none;
  cursor         : pointer;
  height         : 40px;
  padding-top    : 10px;
  border-left    : 1px #000 solid;
}

.content-tab:hover {
  background-color: #254c73;
}

.content-tab:hover a, .content-tab:focus a {
  color: #fff;
}

.content-tab>a:hover, .content-tab>a:visited, .content-tab>a:link, .content-tab>a:active {
  text-decoration: none;
}

.content-tab>a {
  color: #CCC;
}

.content-tab.active {
  background-color: #142a40;
  color           : #fff;
  font-weight     : bold;
}

.content-tab.active>a {
  color: #fff;
}

.content-tab.first-tab {
  border-radius: 3px 0px 0px 0px;
  border       : none;
}

.content-tab.last-tab {
  border-radius: 0px 3px 0px 0px;
}

.header-row {
  text-align: center;
}

.center-vertical {
  margin-top: 60px;
}

img {
  display       : block;
  max-height    : 120px;
  max-width     : 120px;
  margin-left   : auto;
  margin-right  : auto;
  margin-top    : 12px;
  margin-bottom : 12px;
  vertical-align: middle;
}

#hotness-list>li {
  box-shadow     : 0 2px 4px 2px rgba(0, 0, 0, 0.15);
  border         : 1px #000 solid;
  border-radius  : 3px;
  cursor         : pointer;
  margin         : 12px;
  list-style-type: none;
  height         : 144px;
}

#hotness-list>li:hover, #hotness-list>li:focus {
  box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.20);
}

#hotness-list {
  padding: 0;
}

/* Large size display. */
@media (min-width: 1330px) {
  .center-vertical {
    margin-top: 80px;
  }

  img {
    max-height: 160px;
    max-width : 160px;
  }

  #hotness-list>li {
    height: 184px;
  }
}
