.content-tab {
  text-align: center;
  text-decoration: none;
  border: 1px #000 solid;
  cursor: pointer;
}

.content-tab:hover {
  background-color: #254c73;
}

.content-tab:hover a, .content-tab:focus a {
  color: #CCC;
}

.content-tab>a:hover, .content-tab>a:visited, .content-tab>a:link, .content-tab>a:active {
  text-decoration: none;
}

.content-tab>a {
  color: #000;
}

.content-tab.active {
  background-color: #1d3b59;
  color: #fff;
}

.content-tab.active>a {
  color: #fff;
}

hr {
  border-left: 1px #000 solid;
}

.first-tab {
  border-radius: 5px 5px 0px 0px;
}

.header-row {
  border: 1px #000 solid;
  text-align: center;
}

.center-vertical {
  margin-top: 40px;
}

img {
  display: block;
  max-height: 80px;
  max-width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  vertical-align: middle;
}

#hotness-list>li {
  border: 1px #000 solid;
  border-radius: 5px 5px 5px 5px;
  margin: 12px;
  list-style-type: none;
  height: 124px;
}

#hotness-list {
  padding: 0;
}

/* Small/medium size display. */
@media (min-width: 768px) {
  /* In every size above mobile, the options will be side-by-side.
      Adjust the rounding accordingly. */

  #hotness-contents {
    border: 1px #000 solid;
  }

  .first-tab {
    border-width: 1px 0px 1px 1px;
    border-radius: 5px 0px 0px 0px;
  }

  .last-tab {
    border-width: 1px 1px 1px 0px;
    border-radius: 0px 5px 0px 0px;
  }

  .header-row {
    border-width: 0px 1px 1px 1px;
  }

  .first-header {
    border-width: 0px 0px 1px 1px;
  }

  .last-header {
    border-width: 0px 1px 1px 0px;
  }

  .center-vertical {
    margin-top: 60px;
  }

  .container {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.35);
  }

  img {
    max-height: 120px;
    max-width: 120px;
  }

  #hotness-list>li {
    height: 144px;
  }
}

/* Large size display. */
@media (min-width: 1330px) {
  .center-vertical {
    margin-top: 80px;
  }

  img {
    max-height: 160px;
    max-width: 160px;
  }

  #hotness-list>li {
    height: 184px;
  }
}
