/*      Color Palette:      *
 * ======================== *
 * blue highlight  : #254c73 *
 * blue base       : #1d3b59 *
 * blue select     : #142a40 *
 * gray background : #e5e5e5 */

body {
  background-color : #e5e5e5;
  min-width        : 768px;
}

a, a:hover, a:focus {
text-decoration : none;
color           : #000;
}

.no-side-padding {
  padding-left  : 0;
  padding-right : 0;
}

.no-side-margin {
  margin-left  : 0;
  margin-right : 0;
}

.container {
  width : 100%;
}

.center-text {
  text-align : center;
}

.center-vertically {
  display             : block;
  display             : -ms-flexbox;
  display             : -webkit-flex;
  display             : flex;
  -ms-flex-align      : center;
  -webkit-align-items : center;
  -webkit-box-align   : center;
  align-items         : center;
}

.glyphicon-star {
  color: #7f7f7f;
}

.modal-header {
  text-align : center;
}

.modal.fade.in {
  z-index : 8050;
}

.row-padded {
  padding : 4px 0;
}

.row.thin-row {
  line-height   : 100%;
  font-size     : 70%;
  margin-bottom : 8px;
}

.rating:hover {
  cursor: pointer;
}
